:root {
    --primary: rgba(34, 60, 122);
    --text-color-light: rgba(255, 255, 255);
    --background-color-dark: rgb(0, 0, 0);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: var(--background-color-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

}

nav a {
    color: var(--text-color-light);
    text-decoration: none;
}

#menu-icon {
    width: 20px;
    color: var(--text-color-light);
}

.darkmode-icon, .lightmode-icon  {
    width: 20px;
}

.lightmode-icon  {
    display: none;
}

.lightmode-icon-show  {
    display: inline;
}

.darkmode-icon  {
    display: inline;
}

.darkmode-icon-show  {
    display: none;
}

.menu {
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #f7f7f7;
	z-index: 10;
	overflow: hidden;
	box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
}

.menu li a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 1rem;
	color: var(--primary);
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	transition: background 0.5s ease-in-out;
}

.menu li a:hover,
.menu li:first-child a {
	background: var(--background-color-dark);
	color: var(--text-color-light);
}

li a.menu-item {
	display: none;
}

li a.open {
	display: flex;
}

.close::before {
	content: "❌ ";
}

.active{
	background-color: #d9d9d9;
	font-weight: 700;
}

.color-mode {
    background: var(--background-color-dark);
    color: var(--text-color-light);
}



header {
    margin: 20px 0px 0px 0px;
    background: var(--primary);
    color: var(--text-color-light);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.header-image {
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

.header-image img {
    height: 150px;
    display: block;
}

.header-body {
    font-size: 20px;
    margin: 0px;
}

main {
    max-width: 760px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 10px;
    margin: 10px;
}

/* Image Labe */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

main {
	max-width: 670px;
	margin: 0 auto;
}

.hero {
	margin: 0px auto;
	position: relative;
	border: 0px solid rgba(0,0,0,.1);
	height: 300px;
}

.hero img {
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(var(--text-color-light), #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem var(--text-color-light);
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}


main h2 {
    font-size: 20px;
    border-bottom: 1px solid #888888;
    width: 95%;
    display: block;
    margin: 10px;
}

.card {
    box-shadow: 1px 1px 4px 1px #888888;
    border-radius: 3px;
    overflow: hidden;
    margin: 0px 10px;

}

.card-header {
    background: var(--primary);
    color: var(--text-color-light);
    margin: 0px;
    padding: 10px;
}

.card-header h3{
    margin: 5px;
}

.card-body {
    padding: 20px;
}

footer {
    margin: 20px 0px 0px 0px;
    background: var(--primary);
    padding: 10px;
    color: var(--text-color-light);
    text-align: center;
}

.highlight {
    padding: 5px;
    font-size: 12px;
    font-weight: 100;
}

.map {
    max-width: 760px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 10px;
    margin: 10px;
}

.map iframe {
    width: 100%;
    height: 450px;

}

/*----------- FORM --------------*/

.user-form {
    max-width: 760px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 10px;
}

.user-form form {
    width: 100%;
}

form label.top{
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}
form label.top-rating{
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}
form label.top input{

    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem 0 .75rem .0;
    color: #555;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    max-width: 760px;
}
form label.top-rating input{
    display: block;
    color: #555;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    max-width: 760px;
}
form input.submitBtn{
    display: block;
    border: none;
    background-color: var(--primary);
    color: var(--text-color-light);
    border-radius: .2rem;
    padding: .75rem 1.5rem;
    width: 100%;
    margin-top: 20px;
    max-width: 760px;
}
form label.top input:required {
    border: red solid 1px;
}
form label.top input:required:valid{
    border: green solid 1px;
}

#formmessage {
	display: none;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #aa3333;
	color: #fff;
	padding: 0.5rem;
}

/*----------- TABLE --------------*/

.user-table {
    max-width: 760px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 10px;
}

.user-table table {
    width: 100%;
    border-collapse: collapse;

}

th {
    background-color: var(--primary);
    color: var(--text-color-light);
    padding: 10px;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
}
