@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

}

nav a {
    color: #ffffff;
    text-decoration: none;
}

#menu-icon {
    width: 20px;
    color: #ffffff;
}

.darkmode-icon, .lightmode-icon  {
    width: 20px;
}

.lightmode-icon  {
    display: none;
}

.lightmode-icon-show  {
    display: inline;
}

.darkmode-icon  {
    display: inline;
}

.darkmode-icon-show  {
    display: none;
}

.menu {
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #f7f7f7;
	z-index: 10;
	overflow: hidden;
	box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
}

.menu li a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 1rem;
	color: rgb(34, 60, 122);
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	transition: background 0.5s ease-in-out;
}

.menu li a:hover,
.menu li:first-child a {
	background: #000;
	color: #fff;
}

li a.menu-item {
	display: none;
}

li a.open {
	display: flex;
}

.close::before {
	content: "❌ ";
}

.active{
	background-color: #d9d9d9;
	font-weight: 700;
}

.color-mode {
    background: #000;
    color: #fff;
}



header {
    margin: 20px 0px 0px 0px;
    background: rgb(34, 60, 122);
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.header-image {
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

.header-image img {
    height: 150px;
    display: block;
}

.header-body {
    font-size: 20px;
    margin: 0px;
}

main {
    max-width: 760px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 10px;
    margin: 10px;
}

main h2 {
    font-size: 20px;
    border-bottom: 1px solid #888888;
    width: 95%;
    display: block;
    margin: 10px;
}

.card {
    box-shadow: 1px 1px 4px 1px #888888;
    border-radius: 3px;
    overflow: hidden;

}

.card-header {
    background: rgb(34, 60, 122);
    color: #ffffff;
    margin: 0px;
    padding: 10px;
}

.card-body {
    padding: 20px;
}

footer {
    margin: 20px 0px 0px 0px;
    background: rgb(34, 60, 122);
    padding: 10px;
    color: #ffffff;
    text-align: center;
}

.highlight {
    padding: 5px;
    font-size: 12px;
    font-weight: 100;
}

iframe {
    display: block;
    border-style:none;
}